<div class="slider">
      <ul class="slides">
        <li>
          <img src="http://placekitten.com/1000/800">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="http://placekitten.com/1200/800">
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="http://placekitten.com/1000/900">
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="http://placekitten.com/1200/1000">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
  </div>
        

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">pets</i></h2>
            <h5 class="center">Super Cute</h5>

            <p class="light">super cute cats to make you crazy</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">pets</i></h2>
            <h5 class="center">Crazy</h5>

            <p class="light">super crazy cats to make you crazy</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">pets</i></h2>
            <h5 class="center">Gorgeous</h5>

            <p class="light">super Gorgeous cats to make you crazy</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
