<!DOCTYPE html>
<html>
  <head>
    <title>Capacitacao Geral - Introdução ao Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= render 'layouts/header' %>
      
  </header>
  
  <main>
    <body> 
          <%= yield %>
    </body>

  </main>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</html>
